
@mixin position_center() {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin input_text() {
  font-size:30px;
  padding:10px;
}

@mixin input_btn() {
  border:none;
  font-size:20px;
  padding:10px 30px;
  border-radius: 10px;
  background-color: lightskyblue;
  border:1px groove;
}
